.generalContainerProjets {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTextProjets{
    border: 2px white solid;
    padding: 15px;
    width: 600px;
    margin-top: 60px;
}

.descriptionProjets{
    font-size: 30px;
    color: white;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    text-align: center;
}

.ulStyleProjets{
    list-style: none;
    color: white;
}

.descriptionProjets p{
    text-decoration: underline;
}

.ulStyleProjets a{
    text-decoration: none;
    color: white;
}

.containerTextProjetsWhite{
    border: 2px black solid;
    padding: 15px;
    width: 600px;
    margin-top: 60px;
}

.ulStyleProjetsWhite{
    list-style: none;
    color: black;
}

.ulStyleProjetsWhite a{
    text-decoration: none;
    color: black;
}

ul li:hover{
    color: #007bff;
}

ul li a:hover{
    color: #007bff;
}

@media only screen and (max-width: 480px) {

    .containerTextProjets{
        border: 2px white solid;
        padding: 15px;
        width: 400px;
        margin-top: 60px;
    }
    
    .descriptionProjets{
        font-size: 20px;
        color: white;
        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: weight;
        text-align: center;
    }

    .containerTextProjetsWhite{
        border: 2px black solid;
        padding: 15px;
        width: 400px;
        margin-top: 60px;
    }

}
