.containerCenter{
    display: flex;
    margin: 20px;    
}

.language-selector {
    position: relative; 
    display: inline-block; 
    z-index: 2;
}

.language-selector-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: "Kode Mono", monospace;
    font-weight: weight;
    font-style: normal;
    margin-top: auto;
    z-index: 2;
}

.language-selector-btn:hover {
    background-color: #0056b3;
}

.language-selector-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Kode Mono", monospace;
    font-weight: weight;
    font-style: normal;
    margin-top: auto;
    position: relative;
    z-index: 2;
}

.language-selector-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
}

.language-selector-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.language-selector-menu ul li:hover {
    background-color: #a5a1a1;
}

